{{#swiper-container grabCursor=true pagination=true centered=true slidesPerView=auto loop=true spaceBetween=30 registerAs=streamCarousel}}
  {{#each streams as |stream|}}
    {{#swiper-slide}}
      <h2 class="slide-header">
        <div class="slide-header__title">{{stream.name}}</div>
        <div class="slide-header__arrow"></div>
      </h2>

      <div class="slide-body">
        <div class="slide-body__label">On Air Now</div>
        <h3 class="slide-body__title">
          {{stream.currentComposer.name}}
          {{#if stream.currentComposer}}<br />{{/if}}
          {{stream.currentPiece}}
        </h3>
      </div>

      <div class="slide-footer">
        {{yield stream}}
      </div>

    {{/swiper-slide}}
  {{/each}}
{{/swiper-container}}
